<div class="container-fluid">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Classificação</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Jogos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Estatisticas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Times</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Jogadores</a>
        </li>
    </ul>
</div>    